

.users{
    width: 100%;
    height: 80px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.tomas{
    margin-right: 40px;
    font-size: 30px;
    background-color: rgb(28, 228, 21);
}
.muler{
    font-size: 30px;
    background-color: rgb(28, 228, 21);

}
.divform{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.hiddensms{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}


.wraper{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
   
    margin-top: 40px;
    
}
.divul{
    width: 400px;
    min-height: 250px;
    overflow: auto;
    margin-top: 40px;
    border: 4px solid black;
    display: flex;
    justify-content: flex-start;

}
@media (max-width:500px){
    .divul{
    width: 250px;
    min-height: 250px;
    margin-left: 0px;
    
    }
}


#input1{
    font-size: 25px;
    height: 60px;
}


#input2{
    font-size: 25px;
    height: 60px;

}
@media (max-width:500px){
    #input1, #input2{
    font-size: 22px;
    height: 40px;
    max-width: 130px;
    }
}

.send , .send1{
    background-color: #4f8dc7; 
    border: none;
    color: white;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.send:active , .send1:active{
    background-color: #23ee23; 

}
.del{
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}

.del:active{
    background-color: #ee0606;

}